*{
  box-sizing: border-box;
  font-family: sans-serif;
  margin:0;
  padding:0;
}
.border{
  border:1px solid black;
}


/* NAVIGATION */


.nav__links{
  list-style-type: none;
  display: flex;
}
nav{
  height:100px;
  background-color: #0C0032;
}
.nav__link{
  font-size:24px;
  margin: 10px;
  border: 2px solid white;
  padding:10px;
  box-shadow: 0 0 2px white;
  transition: all .2s ease-in-out;
  cursor:pointer
}
.nav__link:hover{
  box-shadow: 0 0 10px white;
}
.nav__logo--wrapper{
  position:relative;
  height: 100px;
  width:100px;
}
.nav__a{
  -webkit-text-fill-color: transparent;
  background: linear-gradient(89.97deg,lightgray 1.84%,white 102.67%);
  -webkit-background-clip: text;
  font-weight: 700;
}
.nav__logo{
  width:100px;
  filter: invert(90%);
}
.nav__section{
  display: flex;
  align-items: center;
  justify-content: space-around;
}


/* MAIN PAGE */


.main__section{
  background-image: radial-gradient(rgba(0, 0, 0, 0.7) 5%, rgb(0, 0, 0) 95%),url('https://assets.nflxext.com/ffe/siteui/vlv3/862cc171-8df5-418c-886f-2aaf767ae159/08bde744-9b60-4fac-8e45-7c37754e94c8/AL-en-20230130-popsignuptwoweeks-perspective_alpha_website_small.jpg');
  background-size: cover;
  background-position: center;
  color:#FEFBF6;
  height:700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__icons{
  height: 50px;
  width: 50px;
  padding:10px;
  fill:#3500D3;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: white 0 0 10px inset;
  margin-right: 10px;
}
.main__description--para{
  margin:10px 0;
  display: flex;
  align-items: center;
  font-size: 20px;
}
.main__description--title{
  font-size:30px;
  margin-bottom: 30px;
}
.main__title{
  font-size: 50px;
  margin-bottom: 30px;
}
.color{
  color:#3500D3;
}
.main__description--title,
.main__title,
.movielist__label{
  -webkit-text-fill-color: transparent;
  background: linear-gradient(to top,#3500D3 1.84%,#624e9c 102.67%);
  -webkit-background-clip: text;
}


/* MOVIE LIST PAGE */

.movielist__search{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  width:100%;
}
.movielist__label{
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-top:50px;
}
.movielist__input{
  padding:20px 5px;
  width:50%;
  font-size: 20px;
  border-radius: 50px;
  border-style: none;
  background:linear-gradient(to right,#3500D3, #240090);
}
input:focus{
  outline:none;
}
.movielist__btn{
  width:10%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 20px;
  background:linear-gradient(to top,#3500D3, #240090);
  border-radius: 50px;
  border-style: none;
}
.movielist__btn--icon{
  height: 17px;
  width: 17px;
  fill:white;
}
::placeholder{
  color:rgba(255, 255, 255, 0.558);
}
.movielist__wrapper{
  background-image:linear-gradient(#0C0032,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7),black), url('https://media.istockphoto.com/id/1271522601/photo/pop-corn-and-on-red-armchair-cinema.jpg?s=612x612&w=0&k=20&c=XwQxmfrHb-OwV5onPUW5ApB4RaGBK7poSIzZj4q_N_g=');
  background-size: cover;
  background-position: center;
  height:500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* FOOTER LOGO */


.footer__wrapper{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.footer__logo{
  height:100px;
  filter:invert(90%);
  margin-top:40px;
}
.footer__wrapper{
  background-color:#282828;
  width:100%;
}
.footer__links{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__link{
  list-style: none;
  margin:25px 25px 40px 25px;
  color:whitesmoke;
  font-size: 20px;
}
.footer__link:hover{
  cursor:pointer;
}
.footer__para{
  margin-bottom:30px;
  color:whitesmoke;
}
.footer__a{
  color:whitesmoke;
  text-decoration: none;
}
.footer__a:hover{
  text-decoration: underline;
}